@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
    height: 100%;
    color: white;
    font-family: 'Lato';
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    background-color: #0F172A;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo {
    width: 35px;
}

.sidebar-header {
    margin-bottom: 1rem;
    padding-left: 0.2rem;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 0.75rem
}

.section-line {
    display: flex;
    gap: 0.5rem;
    padding: 0.4rem;
}

.section-line:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

.file-line {
    display: flex;
    gap: 0.2rem;
    padding: 0.2rem;
    padding-left: 2rem;
}

.sidebar-icon {
    width: 20px;
}

.task-icon {
    width: 16px;
}

.file-icon {
    width: 15px;
}

li {
    list-style: none;
    color: rgb(136, 136, 136);
    font-size: 0.9rem;
    padding: 0.25rem;
    padding-left: 3rem;
    
}

.sidebar-footer {
    display: flex;
    justify-content: flex-end;
}

main {
    background-color:#1E293B;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    align-self: center;
    font-size: 2rem;
}
